.width1366px{
    width: 1366px;
    margin:0 auto;
}
.productTitle{
    width: 1366px;
    margin:48px auto 32px;
    color:#363636;
    font-size: 40px;
}
.produceBanner img{
    width:100%;
    height:446px;
}

/*每个项目都有的slogan*/
.sloganBox{
    width: 718px;
    margin:0 auto;
}
.sloganBox .blocked3f3f{
    width: 8px;
    height: 24px;
    margin-right: 18px;
    background: #ed3f3f;
}
.boxed3f3f{
    width:54%;
    margin:50px auto 20px;
}
.sloganBox .colored3f3f{
    color:#ed3f3f;
    font-size: 20px;
}
.sloganBox p{
    color:#363636;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
}
/*每块的标题 中英文标题*/
.subTitle{
    padding:20px 0 30px;
}
.enSubTitle{
    color:#ed3f3f;
    font-size:20px;
    text-align: center;
}
.chSubTitle{
    color:#363636;
    font-size:20px;
    text-align: center;
}
.subTitle p{
    color:#363636;
    font-size: 16px;
    line-height: 42px;
    margin-top:20px;
}
.adSummary{
   line-height: 40px;
    padding:30px 0;
}
.adSummary img{
    display: inline-block;
    margin-right:18px;
}
.package10Box{
    width: 100%;
    height: 446px;
    margin-top:50px;
    background: #e5e5e5;
}
.serviceBox{
    width: 50%;
}
.bgBlockParent{
    position: relative;
    width: 64%;
    height: 64px;
    margin:0 auto;
}
.bgBlockParent p{
    text-indent: 40px;
    line-height: 50px;
    font-size: 14px;
}
.bgBlockParent p span{
    text-indent: 40px;
    font-size: 18px;
}
.bgBlockIn,.bgBlockOut{
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    color:#fff;
    line-height: 24px;
}
.bgBlockIn{
    left:0;
    top:0;
}
.bgBlockOut{
    left:12px;
    top:12px;
}
.bgbcd659{
    background: #bcd659;
}
.bgde0212{
    background: #de0212;
}
.bgbcd659{
    background: #f1c07b;
}
.bg77c8d8{
    background: #77c8d8;
}
.dashedBg{
    width: 1018px;
    border:1px dashed #ed3f3f;
    position: relative;
    margin-top:15px;
}
.dashedRedBg{
    width: 102px;
    height: 34px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-47px;
    margin-top:-21px;
    background: #ed3f3f;
}
.companyName{
    width: 102px;
    height: 34px;
    background: #ddd;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-51px;
    margin-top:-17px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
}
.advantageBox{
    width: 1018px;
    padding:58px 0;
}
.advantageBox2{
    width: 760px;
    padding:58px 0;
}
.advantageBox li{
    width: 25%;
}
.advantageBox2 li{
    width: 33.3%;
}
.advantageBox li img,.advantageBox2 li img{
    width: 66px;
    height: 66px;
    margin:0 auto;
}
.advantageBox li h5,.advantageBox2 li h5{
    color:#393939;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
}
.proportionTitle{
    color:#ed3f3f;
    font-size: 20px;
    margin-bottom:6px;
}
.proRed{
    width: 200px;
    height: 6px;
    background: #ed3f3f;
}
.proGray{
    width: 152px;
    height: 6px;
    background: #e8e8e8;
}
.proChart{
    width: 466px;
    height: 300px;
    margin: 60px 0 0 60px;
}
.proFontDetail{
    width: 86%;
    line-height: 38px;
    font-size: 16px;
    color:#393939;
    margin-top:20px;
}
.proportionL{
    width:50%;
    margin-left:30px;
}
.proportionR{
    width:40%;
    margin:250px 0 0 70px;
}
.factDetail .font38px{
    font-size:38px;
    padding-right:2px;

}
.factDetail dt,.factDetail dd{
    color:#393939;
    font-size: 16px;
}
.factDetail dt{
    margin: 38px 0 10px;
}
.factDetail dd{
    margin-left: 28px;
    line-height: 38px;
}
.factDetail span{
    color:#ed3f3f;
    font-size: 16px;
    padding-right:6px;
}





