.width1366px{
    width: 1366px;
    margin:0 auto;
}
.productTitle{
    width: 1366px;
    margin:48px auto 32px;
    color:#363636;
    font-size: 40px;
}
.produceBanner{
    width:100%;
    height:552px;
    background: #1d241d;
}
.produceBannerImg{
    width: 1366px;
    height: 446px;
    margin:0 auto;
    position: relative;
}
.bannerTitleDetail{
    position: absolute;
    right: -7%;
    top:90%;
    margin-top:-92px;
    margin-left:-320px;
}
.titleBox{
    width: 262px;
    margin:0 auto;
}
.bannerTitleDetail .title48px{
    text-align: center;
    color:#fff;
    font-size: 48px;
    letter-spacing: 5px;
}
.bannerTitleDetail .title24px{
    width:100%;
    color:#fff;
    padding:28px 0 24px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
}
.bannerTitleDetail .title28px{
    width:100%;
    color:#fff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 1.5px;
}
.bannerTitleDetail .dot{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    margin:24px 12px 0;
}

/*每个项目都有的slogan*/
.sloganBox{
    width: 603px;
    margin:0 auto;
}
.sloganBox .block18c2ed{
    width: 8px;
    height: 24px;
    margin-right: 18px;
    background: #18c2ed;
}
.box18c2ed{
    width:71%;
    margin:50px auto 20px;
}
.sloganBox .color18c2ed{
    color:#18c2ed;
    font-size: 20px;
}
.sloganBox p{
    color:#363636;
    font-size: 16px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.5px;
}
/*每块的标题 中英文标题*/
.subTitle{
    padding:38px 0 34px;
}
.enSubTitle{
    color:#18c2ed;
    font-size:20px;
    text-align: center;
}
.chSubTitle{
    color:#363636;
    font-size:20px;
    text-align: center;
}
.subTitle p{
    width:43%;
    color:#363636;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    margin:0 auto;
}
.childTalentBox{
    width:100%;
    height: 512px;
    background: #e5e5e5;
}
.childTitle{
    width:8%;
    padding:20px 0 30px;
    margin:0 auto;
}
.childTitle em{
    width: 2px;
    height: 26px;
    margin-right:12px;
    background: #18c2ed ;
}
.childTitle h5{
   font-size:20px;
   color:#18c2ed ;
}
.talentIconDetail{
    color:#363636;
    font-size: 20px;
    padding-top:5px;
    text-align: center;
}
.childTalent{
    width: 100%;
    padding-bottom:30px;
}
.childTalent li{
    width:20%;
}
.childTalent li img{
    margin:0 0 0 97px;
    width:74px;
    height:76px;
}
.childTalent li.study{
    padding-top:4px;
}
.childTalent li.study img{
    margin:0 0 0 97px;
    width:95px;
    height:70px;
}
.childTalent li img.talentIcon2{
    margin:0 0 0 75px;
}
.childAbility{
    width: 60%;
    margin:30px auto;
}
.childAbility li{
    width: 33.3%
}
.childAbility li img{
    margin-left:64px;
}
.advangeDetail{
    padding-left:20px;
}
.advangeDetail li{
    width: 290px;
    height: 174px;
    padding:16px 0 0 16px;
    margin-left:18px;
    border:1px solid #35353a;
}
.advangeDetail li img{
    width: 46px;
    height: 48px;
    margin-right: 18px;
}
.adDetail{
    width:77%;
}
.adDetail h6{
    font-size:16px;
    color:#363636;
    margin:15px 0 24px;
}
.adDetail p{
    color:#363636;
    font-size:12px;
    line-height: 32px;
}
.adSummary ,.keyPeriod{
    padding:26px 0 0 8px;
    line-height: 38px;
    color:#363636;
    font-size: 16px;
}
.keyPeriodImg img{
    width: 710px;
    height: 64px;
    margin:20px auto 0;
}














